/* Color Variables */
:root {
    --english-violet: #594157;
    --ultra-violet: #726da8;
    --glaucous: #7d8cc4;
    --non-photo-blue: #a0d2db;
    --mint-green: #bee7e8;
}

body {
    background: linear-gradient(to bottom right, #6366f1, #a855f7, #ec4899);
}

.login-screen {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 1rem;
}

#root {
    width: 100%;
    padding: 0 0.6rem;
}

.login-card {
    max-width: 410px;
    width: 100%;
    border-radius: 0.5rem;
    padding: 2rem 1.5rem 0.01rem 2rem;
    background: #fbf6fe;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.login-header h1 {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--ultra-violet);
    margin-bottom: 2rem;
}

.login-container {
    max-width: 410px;
    width: 100%;
    margin: 0 auto;
    border-radius: 0.5rem;
    padding: 2rem 1.5rem;
    background: #fbf6fe;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.login-container .form-title {
    text-align: center;
    font-size: 1.37rem;
    font-weight: 600;
    margin-bottom: 1.87rem;
}

.login-container .social-login {
    display: flex;
    gap: 1.31rem;
}

.social-login .social-button {
    display: flex;
    width: 100%;
    gap: 0.81rem;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 500;
    padding: 0.75rem 0;
    align-items: center;
    border-radius: 0.31rem;
    justify-content: center;
    background: #F9F8FF;
    border: 1px solid #D5CBFF;
    transition: 0.3s ease;
}

.social-login .social-button:hover {
    background: #f1eff9;
    border-color: var(--ultra-violet);
}

.social-login .social-button .social-icon {
    width: 23px;
}

.seperator {
    margin: 1.5rem 0;
    text-align: center;
    position: relative;
}

.seperator span {
    position: relative;
    z-index: 1;
    background: #fbf6fe;
    padding: 0 0.9rem;
    font-size: 1.06rem;
    font-weight: 500;
}

.seperator::after {
    position: absolute;
    content: "";
    left: 0;
    top: 50%;
    width: 100%;
    height: 1px;
    background: #e5e7eb;
}

.login-form .input-wrapper {
    height: 54px;
    width: 100%;
    position: relative;
    margin-bottom: 1.5rem;
}

.login-form .input-wrapper .input-field {
    height: 100%;
    width: 100%;
    outline: none;
    border-radius: 0.31rem;
    border: 1px solid #bfb3f2;
    padding: 0 1.25rem 0 3.12rem;
    transition: 0.2s ease;
}

.login-form .input-wrapper .input-field:focus {
    border-color: var(--ultra-violet);
}

.login-form .input-wrapper .input-field::placeholder {
    color: var(--glaucous);
}

.login-form .input-wrapper span {
    color: var(--glaucous);
    position: absolute;
    top: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    pointer-events: none;
    transform: translateY(-50%);
    transition: 0.2s ease;
}

.login-form .input-wrapper span:not(.eye-icon) {
    left: 0.93rem;
    pointer-events: none;
}

.login-form .input-wrapper .input-field:focus ~ span:not(.eye-icon) {
    color: var(--ultra-violet);
}

.login-form .input-wrapper span.eye-icon {
    font-size: 1.25rem;
    cursor: pointer;
    right: 0.93rem;
    display: none;
    pointer-events: auto;
    z-index: 10;
}

.login-form .input-wrapper .input-field:valid ~ .eye-icon {
    display: flex;
}

.login-form .forgot-pass-link {
    display: block;
    width: fit-content;
    margin-top: -0.44rem;
    margin-bottom: 2.19rem;
    transition: all 0.3s ease;
}

.login-form .forgot-pass-link[style*="display: none"] {
    margin-bottom: 0;
    margin-top: 0;
}

.login-form .login-button {
    width: 100%;
    height: 54px;
    cursor: pointer;
    border: none;
    outline: none;
    color: #fff;
    font-weight: 500;
    font-size: 1.125rem;
    margin-top: 0;
    border-radius: 0.31rem;
    background: var(--ultra-violet);
    transition: 0.3s ease;
}

.login-form .login-button:hover {
    background: var(--english-violet);
}

.login-container .signup-text {
    text-align: center;
    font-size: 1.06rem;
    font-weight: 500;
    margin: 1.75rem 0 0.31rem;
}

.login-container a {
    color: var(--ultra-violet);
    font-weight: 500;
    text-decoration: none;
}

.login-container a:hover {
    text-decoration: underline;
}